@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

/* clarusway */

.cw {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cw::before {
  content: "";
  background-image: url(./img/bg.jpg);
  background-size: cover;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.cw h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 4.8rem;
  letter-spacing: 0.8rem;
  background-color: #4d4d4d;
  color: #fff;
  font-weight: 400;
  padding: 2.5rem;
}
