@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

/* clarusway */

.img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.img::before {
  content: "";
  background-size: cover;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.bg {
  height: 100vh;
}

.bg::before {
  background-image: url(./img/bg.jpg);
}

.img h1 {
  position: relative;
  margin: auto;
  /* text-transform: uppercase; */
  font-size: 4.8rem;
  letter-spacing: 0.8rem;
  background-color: #4d4d4d;
  color: #fff;
  font-weight: 400;
  padding: 1.5%;
  border-radius: 3.5rem 0 3.5rem 0;
  outline: 0.8rem inset purple;
  outline-offset: 1.5rem;
}

/* Full Stack Development */

.text {
  padding: 3.8%;
  text-align: center;
  color: #666666;
}

.text h2 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.text p {
  line-height: 2.8rem;
  font-size: 1.6rem;
}

.fsd p span {
  color: #666666;
  font-weight: 800;
}

/* clarusway-logo */

.bg-2,
.bg-3,
.bg-4 {
  height: 80vh;
}

.bg-2::before {
  background-image: url(./img/bg2.jpg);
}

.bg-2 img {
  position: relative;
  max-width: 40%;
  margin: auto;
  opacity: 0.7;
}

/* aws */

.aws,
.why {
  background-color: #282e34;
  color: #fff;
}

/* Way To Reinvent Yourself */

.bg-3::before {
  background-image: url(./img/bg3.jpg);
}

.bg-3 h1,
.bg-4 h1 {
  padding: 1%;
  border-radius: 3.5rem 0 3.5rem 0;
  outline: 0.6rem inset purple;
  outline-offset: 0.6rem;
}

/* Clarusway Team */

.bg-4::before {
  background-image: url(./img/bg4.jpg);
}
