@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

/* clarusway */

.img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.img::before {
  content: "";
  background-size: cover;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}

.bg {
  height: 100vh;
}

.bg::before {
  background-image: url(./img/bg.jpg);
}

.img h1 {
  position: relative;
  margin: auto;
  /* text-transform: uppercase; */
  font-size: 2.6vw;
  letter-spacing: 0.5vw;
  background-color: #4d4d4d;
  color: #fff;
  font-weight: 400;
  padding: 1.5%;
  border-radius: 2.5vw 0 2.5vw 0;
  outline: 0.5vw inset purple;
  outline-offset: 1vw;
}

/* Full Stack Development */

.text {
  padding: 3.8%;
  text-align: center;
  color: #666666;
}

.text h2 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.text p {
  line-height: 2.8rem;
  font-size: 1.6rem;
}

.fsd p span {
  color: #666666;
  font-weight: 800;
}

/* clarusway-logo */

.bg-2,
.bg-3,
.bg-4 {
  height: 80vh;
}

.bg-2::before {
  background-image: url(./img/bg2.jpg);
}

.bg-2 img {
  position: relative;
  max-width: 40%;
  margin: auto;
  opacity: 0.7;
}

/* aws */

.aws,
.why {
  background-color: #282e34;
  color: #fff;
}

/* Way To Reinvent Yourself */

.bg-3::before {
  background-image: url(./img/bg3.jpg);
}

.bg-3 h1,
.bg-4 h1 {
  padding: 1%;
  border-radius: 2.5vw 0 2.5vw 0;
  outline: 0.5vw inset purple;
  outline-offset: 0.3vw;
}

/* Clarusway Team */

.bg-4::before {
  background-image: url(./img/bg4.jpg);
}

@media (max-width: 1200px) {
  .img h1 {
    font-size: 3.1rem;
    letter-spacing: 0.6rem;
    padding: 1.8rem;
    border-radius: 3rem 0 3rem 0;
    outline: 0.6rem inset purple;
    outline-offset: 1.2rem;
  }

  .bg-3 h1,
  .bg-4 h1 {
    padding: 1.2rem;
    border-radius: 3rem 0 3rem 0;
    outline: 0.6rem inset purple;
    outline-offset: 0.35rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 59.5%;
  }
}

@media (max-width: 768px) {
  .bg-2 img {
    min-width: 30rem;
  }

  html {
    font-size: 57.5%;
  }
}

@media (max-width: 576px) {
  .img h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    padding: 1.6rem;
    border-radius: 3rem 0 3rem 0;
    outline: 0.6rem inset purple;
    outline-offset: 0.9rem;
  }

  .bg-3 h1,
  .bg-4 h1 {
    padding: 0.9rem;
    border-radius: 3rem 0 3rem 0;
    outline: 0.6rem inset purple;
    outline-offset: 0.3rem;
  }

  html {
    font-size: 56%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 54%;
  }
}
